In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sigfig import round
pd.set_option('display.max_colwidth', None)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
def p(val):
    return f"$ {round(str(val), decimals=0, spacing=3, spacer=',')}"

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [16]:

melbourne_data = pd.read_csv("./melb_data.csv")
melbourne_trimmed_data = melbourne_data.dropna(axis=0)

In [67]:
cols_with_missing = [col for col in melbourne_data.columns
                     if melbourne_data[col].isnull().any()]
melbourne_bulldozed_data2 = melbourne_data.drop(cols_with_missing, axis=1)

In [17]:
HTML (melbourne_data.describe().to_html())

In [18]:
HTML (melbourne_trimmed_data.describe().to_html())

In [68]:
HTML (melbourne_bulldozed_data2.describe().to_html())

In [19]:
print(melbourne_data.columns)
melbourne_data[['Rooms']]

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

       Rooms
0          2
1          2
2          3
3          3
4          4
...      ...
13575      4
13576      3
13577      3
13578      4
13579      4

[13580 rows x 1 columns]

In [20]:
print(melbourne_data[['Rooms']].mean().values[0].round(0))
print(melbourne_data.YearBuilt.max().round(0))

3.0
2018.0

In [21]:
y = melbourne_trimmed_data.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [22]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_trimmed_data[melbourne_features]
X

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
1,2,1.0,156.0,79.00,1900.0,-37.80790,144.99340
2,3,2.0,134.0,150.00,1900.0,-37.80930,144.99440
4,4,1.0,120.0,142.00,2014.0,-37.80720,144.99410
6,3,2.0,245.0,210.00,1910.0,-37.80240,144.99930
7,2,1.0,256.0,107.00,1890.0,-37.80600,144.99540
...,...,...,...,...,...,...,...
12205,3,2.0,972.0,149.00,1996.0,-37.51232,145.13282
12206,3,1.0,179.0,115.00,1890.0,-37.86558,144.90474
12207,1,1.0,0.0,35.64,1967.0,-37.85588,144.89936
12209,2,1.0,0.0,61.60,2012.0,-37.85581,144.99025
12212,6,3.0,1087.0,388.50,1920.0,-37.81038,144.89389

In [23]:
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [24]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [25]:
melbourne_model = DecisionTreeRegressor(random_state=1)
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [26]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [28]:
predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

434.71594577146544

In [34]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
train_X

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
10385,3,1.0,206.0,110.0,1980.0,-37.87107,145.04991
5805,2,1.0,0.0,73.0,2000.0,-37.85900,144.97670
8488,2,1.0,2701.0,79.0,2011.0,-37.81090,144.86840
6672,3,1.0,670.0,116.0,1940.0,-37.81340,144.87450
776,6,3.0,708.0,275.0,1988.0,-37.91810,145.04400
...,...,...,...,...,...,...,...
9510,3,1.0,118.0,177.0,1890.0,-37.81351,144.98804
6023,5,2.0,661.0,133.0,1960.0,-37.76510,144.82410
2960,4,2.0,453.0,213.0,2007.0,-37.70160,144.89740
4729,2,1.0,90.0,106.0,2007.0,-37.83570,144.93760
4996,3,1.0,495.0,100.0,1950.0,-37.75210,145.01140

In [36]:
val_X

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
4850,2,1.0,96.0,71.0,1880.0,-37.85010,144.99530
2307,2,1.0,0.0,70.0,1965.0,-37.89020,144.99070
10090,2,1.0,136.0,58.0,1892.0,-37.85542,144.99571
3645,3,2.0,205.0,184.0,1995.0,-37.79930,145.02670
4930,2,1.0,400.0,88.0,1955.0,-37.73520,144.98520
...,...,...,...,...,...,...,...
8223,2,1.0,0.0,82.0,2011.0,-37.73240,144.93770
11190,3,2.0,590.0,151.0,1981.0,-37.89628,145.22294
8563,1,1.0,1175.0,35.0,1970.0,-37.78490,144.82720
1867,2,1.0,585.0,97.0,1950.0,-37.87920,145.09480
8375,2,2.0,208.0,145.0,1880.0,-37.84330,145.00240

## Imputation

In [70]:
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(train_X))
imputed_X_valid = pd.DataFrame(my_imputer.transform(val_X))

imputed_X_train.columns = train_X.columns
imputed_X_valid.columns = val_X.columns

## Tracked Imputation

In [73]:
train_X_copy = train_X.copy()
val_X_copy = val_X.copy()

for col in cols_with_missing:
    train_X_copy[col + '_was_missing'] = train_X_copy[col].isnull()
    val_X_copy[col + '_was_missing'] = val_X_copy[col].isnull()

my_imputer = SimpleImputer()
imputed_train_X = pd.DataFrame(my_imputer.fit_transform(train_X_copy))
imputed_val_X = pd.DataFrame(my_imputer.transform(val_X_copy))

imputed_X_train.columns = train_X.columns
imputed_X_valid.columns = val_X.columns

KeyError: 'Car'

In [ ]:
melbourne_model = DecisionTreeRegressor(random_state=1)
# Fit model
melbourne_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [53]:
val_predictions = melbourne_model.predict(val_X)
p(mean_absolute_error(val_y, val_predictions))

'$ 261,944'

In [62]:
for max_leaf_nodes in [5, 50, 425, 450, 455, 460, 475, 500, 550, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print(f"Max leaf nodes: {max_leaf_nodes} \t\t Mean Absolute Error:", p(my_mae))

Max leaf nodes: 5 		 Mean Absolute Error: $ 347,380
Max leaf nodes: 50 		 Mean Absolute Error: $ 258,171
Max leaf nodes: 425 		 Mean Absolute Error: $ 243,808
Max leaf nodes: 450 		 Mean Absolute Error: $ 243,037
Max leaf nodes: 455 		 Mean Absolute Error: $ 243,213
Max leaf nodes: 460 		 Mean Absolute Error: $ 242,777
Max leaf nodes: 475 		 Mean Absolute Error: $ 244,177
Max leaf nodes: 500 		 Mean Absolute Error: $ 243,496
Max leaf nodes: 550 		 Mean Absolute Error: $ 243,670
Max leaf nodes: 5000 		 Mean Absolute Error: $ 255,575

In [65]:
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
p(mean_absolute_error(val_y, melb_preds))

'$ 191,670'

In [66]:
output = pd.DataFrame({'Id': train_X.index,
                       'SalePrice': melb_preds})
output.to_csv('submission.csv', index=False)

ValueError: All arrays must be of the same length